body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.navbar {
  background-color: lightgray;
}

.main-head {
  border: 2px solid black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}

 #head {
  color: black;
  font-size: 200%;
}

.nav-menu {
  border: 1px solid black;
  font-size: 150%;
  font-weight: bold;
}

.nav {
  background-color: honeydew;
  margin: auto -15px;
}

.row {
  width: 100%;
  position: absolute;
}

.title {
  background-color: lightgray;
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 0;
}

.menu {
  background-color: lightgray;
  width: 100%;
  height: auto;
  padding: 0 15px;
}

.menu-bottom {
  background-color: lightgray;
  width: 100%;
  height: auto;
  padding: 15px;
  margin-bottom: 15px;
}


